* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    background-color: #282C34;
    color: #fff;
    padding: 60px;
}
input {
    width: 100%;
    font-size: 1.2rem;
    color:#282C34;
}
h5{
    text-align:left
}

h3 {
    text-align: center;
}
.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    align-content: center;
    border: 2px solid #fff;
    border-radius: 6px ;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 25px;

}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    width: 100%;
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #56D2F9;
}
